@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito&family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-heebo: "Heebo", sans-serif;
  --ff-mont: "Montserrat", sans-serif;
  --ff-nunito: "Nunito", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --clr-bg-l: hsl(30, 100%, 99.2%);
  --clr-bg-d: hsl(120, 1.5%, 12.7%);


  --clr-text-dp: hsl(30, 100%, 99.2%);
  --clr-text-ds: hsl(26, 10.4%, 86.9%);

  --shadow: hsla(26, 10.4%, 86.9%, 80%);
  --shadow-blue: hsl(185, 100%, 49.2%);
  --shadow-pink: hsl(299, 100%, 46.9%);

  --clr-text-p: hsl(0, 0%, 28.2%);
  --clr-text-s: hsl(0, 0%, 31.4%);

  --gradient: linear-gradient(45deg, hsl(185, 100%, 49.2%), hsl(299, 100%, 46.9%));

  --transition: 0.5s ease;
}